body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial";
  background: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  /*outline: 1px solid black;*/
}

.main-header {
  min-height: 115px;
}

.logo {
  float: left;
  width: 155px;
  height: 64px;
  margin-right: 10px;
  margin-top: 8px;
}

.main-navigation {
  float: left;
  width: 677px;
  margin-right: 20px;
  margin-top: 20px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 50px;
}

.main-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-navigation a:active {
  box-shadow: inset 0 2px 2px 0 #696969;
}

.main-navigation li:hover .active-menu {
  display: block;
}


/*саб меню не могу подогнать к pixel perfect
и полоску тоже ,м.б. это псевдоэлемент?*/

.active-menu {
  position: absolute;
  top: 38px;
  left: -5px;
  display: none;
  z-index: 2;
  list-style: none;
  width: 143px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.active-menu li {
  display: block;
  padding: 0;
  margin: 0;
}

.active-menu li:first-child {
  padding-bottom: 4px;
}

.active-menu a {
  display: block;
  padding-left: 20px;
  margin: 2px 0;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.active-menu a {
  border-radius: 0;
}

.active-menu a:hover {
  background-color: #fbded7;
}

.active-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.new {
  font-weight: bold;
}

.active {
  color: #ffffff;
  /* цвет не работает в саб меню*/
  background-color: #d07058;
}

.search {
  float: left;
  margin-left: 23px;
  margin-right: 10px;
  margin-top: 19px;
  /*outline: 1px solid yellow;*/
}

.search-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33px;
  min-height: 33px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-btn::before {
  content: "";
  display: block;
  background: url("../img/spritesheet.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -239px -161px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-btn:hover::before, .search-btn:hover {
  opacity: 1;
  background-position: -266px -161px;
}

.search-form {
  display: none;
}

.user-block {
  float: left;
  margin-right: 8px;
  margin-top: 20px;
  /*outline: 1px solid yellow;*/
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 60px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 19px;
  background-position: -5px -188px;
}

.login:hover, .login:hover::before {
  opacity: 1;
  color: #323232;
  background-position: -36px -188px;
}

.login-form {
  display: none;
}

.basket {
  float: left;
  width: 117px;
  margin-top: 20px;
  margin-right: 0;
  text-align: right;
  /*outline: 1px solid yellow;*/
}

.basket-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 59px;
  padding: 8px 12px;
  padding-left: 47px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.basket-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 18px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 20px;
  background-position: -197px -5px;
}

.basket-btn:hover, .basket-btn:hover::before {
  opacity: 1;
  color: #323232;
  background-position: -228px -5px;
}

.basket-full {
  display: none;
}

.breadcrumbs {
  float: left;
  width: 850px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  /*outline: 1px solid white;*/
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  margin-right: 3px;
}

.breadcrumbs a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.schedule {
  float: right;
  width: 170px;
  margin-top: 18px;
  text-align: right;
  /*outline: 1px solid yellow;*/
}

.schedule-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  /*outline: 1px solid white;*/
}


/*не сходится*/

.schedule-phone {
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  /*outline: 1px solid white;*/
}

.filter {
  width: 1146px;
  margin-bottom: 40px;
}

fieldset {
  border: none;
}

.select {
  float: left;
  width: 193px;
  margin-right: 15px;
}

.filter-price {
  float: left;
  width: 220px;
  margin-right: 15px;
}

.filter-fat {
  float: left;
  width: 417px;
  margin-right: 0px;
}

.filter-fat-item {
  display: inline-block;
}

.filter-topping {
  float: left;
  width: 703px;
  margin-right: 15px;
}

.filter-topping-item {
  display: inline-block;
}

.filter-button {
  float: left;
  width: 145px;
  margin-right: 0px;
  margin-top: 40px;
}


/* Слайдер верстается без флоатов? */

.slider {}

.slider-box {}

.slider-controls {}

.slider-block2 {
  display: none;
}

.slider-block3 {
  display: none;
}


/*---------------------------------*/

.promotion {
  margin-bottom: 40px;
}

.promotion-left {
  position: relative;
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  background: #c80036 url("../img/bg-raspberry.jpg") repeat;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
  border-radius: 15px;
}

.promotion-left p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion-right {
  position: relative;
  float: right;
  width: 560px;
  min-height: 229px;
  background: #5d3923 url("../img/bg-chocolate.jpg") repeat;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
}

.promotion-right p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion .btn {
  position: absolute;
  bottom: 23px;
  right: 21px;
}

.promotion-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 22px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: #ee6441;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 #550800;
  /*есть градиент!*/
}


/*пыталась сделать через опасити, не знаю как поверх фона наложить еще один цвет
 такой вариант не будет ошибкой?*/

.btn:hover {
  background: #f38367;
  box-shadow: 0 1px 2px 0 #ac1000;
}

.btn:active {
  background: #db5238;
  box-shadow: inset 0 2px 2px 0 #942718;
}

.catalog {
  margin-bottom: 75px;
  font-size: 0;
}

.hits {
  font-size: 0;
}

.hits-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 0;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.hits-item:hover .hits-hover {
  display: block;
}

.hits-hover {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 5;
  width: 289px;
  height: 410px;
  border-radius: 3px;
  box-shadow: 0 20px 20px 40% #000000;
}

.hits-hover .btn {
  position: absolute;
  top: 350px;
  left: 50px;
}

.hits-item img {
  border-radius: 50%;
}

.hit::before {
  content: "";
  position: absolute;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -169px -35px;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
}

.hits-item p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  left: 0;
  top: 165px;
  /*как сделать тень? св-во дает тень на блок. спан тоже...*/
}

.hits-price {
  font-size: 30px;
}

.hits-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #ffffff;
}


/*не работает*/

.hits-item a:hover {
  text-decoration: none;
}

.hits-btn {
  display: none;
}

.hits-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 40px;
  width: 1106px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  min-height: 266px;
  background: #ede2c8 url("../img/Bg-vaffel.jpg") repeat;
  border-radius: 15px;
}

.features ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: medium;
}

.features li {
  position: relative;
  padding-top: 15px;
  padding-left: 55px;
  padding-right: 0;
  display: inline-block;
  vertical-align: top;
  /*font-size: 0;  Куда деть шрифт? создавать еще один тег в html? */
  color: #323232;
  float: left;
  width: 485px;
  margin-right: 25px;
  margin-bottom: 5px;
}

.features li:nth-child(2n) {
  margin-right: 0;
}

.features li::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: url("../img/spritesheet.png");
  top: 0px;
  left: 0px;
}

.features-item.ice::before {
  background-position: -63px -106px;
}

.features-item.leaf::before {
  background-position: -122px -106px;
}

.features-item.cow::before {
  background-position: -5px -106px;
}

.features-item.temp::before {
  background-position: -181px -106px;
}

.news-left {
  float: left;
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  background: #ffffff url("../img/bg-strawberry.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 22px;
  border-radius: 15px;
}

.news-left p {
  margin: 0;
  padding: 0;
  font-weight: medium;
  padding-right: 250px;
  padding-bottom: 5px;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.news-right {
  float: right;
  width: 560px;
  height: 220px;
  background: #f8f7f4 url("../img/bg-post.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding: 35px 26px;
  border-radius: 15px;
}

.news-right p {
  margin: 0;
  padding-bottom: 30px;
}

.main-footer {
  margin-top: 40px;
}

.map {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.address {
  display: none;
}

.page {
  width: 190px;
  float: right;
  margin-bottom: 30px;
}

.feedback {
  display: none;
}

.footer-social {
  float: left;
  width: 267px;
  margin-top: 15px;
  margin-right: 26px;
  /*outline: 1px solid yellow;*/
}


/*размер кнопок не совпадает с макетом... 35 с бордером.
в макете 38. Ошибка?*/

.social-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 8px;
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url("../img/spritesheet.png") no-repeat;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  position: relative;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 0 1px #888888;
}

.social-btn-tw {
  background-position: -293px -157px;
}

.social-btn-inst {
  background-position: -240px -77px;
}

.social-btn-fb {
  background-position: -240px -35px;
}

.social-btn-vk {
  background-position: -239px -119px;
}

.footer-about {
  float: left;
  width: 360px;
  margin-right: 26px;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  /*outline: 1px solid yellow;*/
}

.about-simple {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  font-size: 0;
  padding-left: 20px;
  margin-right: 10px;
}

.heart::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/spritesheet.png") no-repeat;
  width: 15px;
  height: 13px;
  background-position: -259px -5px;
  top: 3px;
  left: 0;
}

.about-simple:nth-child(2n) {
  margin-right: 0;
}

.footer-about a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  /*outline: 1px solid red;*/
}

.footer-about a:first-child {
  font-weight: bold;
}

.footer-copyright {
  float: right;
  width: 189px;
  padding-left: 78px;
  /*outline: 1px solid yellow;*/
}

.footer-copyright img {
  display: inline-block;
  vertical-align: top;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 18px;
}

.footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 18px;
}
