body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial";
  background: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

fieldset {
  border: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper {
  min-width: 1200px;
  background-position: top center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/ice-2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-2.png");
}


.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

/*.main-header {
  outline: 1px solid red;
}*/

.logo {
  float: left;
  width: 155px;
  height: 64px;
  margin-right: 10px;
  margin-top: 8px;
}

.main-navigation {
  float: left;
  width: 677px;
  margin-right: 20px;
  margin-top: 20px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 50px;
}

.main-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-navigation a:active {
  box-shadow: inset 0 2px 2px 0 #696969;
}

.main-navigation li:hover .active-menu {
  display: block;
}


/*
полоску тоже ,м.б. это псевдоэлемент?*/

.active-menu {
  position: absolute;
  top: 38px;
  left: -5px;
  display: none;
  z-index: 2;
  list-style: none;
  width: 143px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.active-menu li {
  display: block;
  padding: 0;
  margin: 0;
}

.active-menu li:first-child {
  padding-bottom: 4px;
}

.active-menu a {
  display: block;
  padding-left: 20px;
  margin: 2px 0;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.active-menu a {
  border-radius: 0;
}

.active-menu a:hover {
  background-color: #fbded7;
}

.active-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.new {
  font-weight: bold;
}

.active {
  color: #ffffff;
  /* цвет не работает в саб меню*/
  background-color: #d07058;
}

.search {
  float: left;
  margin-left: 23px;
  margin-right: 10px;
  margin-top: 19px;
  padding-bottom: 5px;
  position: relative;
}

.search:hover .search-form {
  display: block;
}

.search-form {
  display: none;
  position: absolute;
  z-index: 2;
  top: 36px;
  left: -310px;
  width: 310px;
  padding: 20px 15px;
  padding-bottom: 0px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search-form input {
  width: 100%;
  padding: 9px 12px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: normal;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form .buttons {
  display: none;
}

.search-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33px;
  min-height: 33px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-btn::before {
  content: "";
  display: block;
  background: url("../img/spritesheet.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -239px -161px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-btn:hover::before, .search-btn:hover {
  background-color: rgba(248, 247, 244, 1);
  background-position: -266px -161px;
}

.user-block {
  float: left;
  margin-right: 8px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 5px;
}

.user-block:hover .login-form {
  display: block;
}

.login-form {
  display: none;
  position: absolute;
  z-index: 2;
  top: 35px;
  left: -180px;
  width: 235px;
  min-height: 174px;
  padding: 20px;
  padding-bottom: 0;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-form input {
  width: 92%;
  padding: 10px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: normal;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.login-form a {
  float: left;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  margin-left: 14px;
  font-weight: normal;
}

.login-form .btn {
  float: left;
  width: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 5px;
  text-shadow: none;
  box-shadow: none;
  border-radius: 20px;
  border: 0;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 60px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 19px;
  background-position: -5px -188px;
}

.login:hover, .login:hover::before {
  background-color: rgba(248, 247, 244, 1);
  background-position: -36px -188px;
}

.basket {
  float: left;
  position: relative;
  width: 117px;
  margin-top: 20px;
  margin-right: 0;
  padding-bottom: 5px;
  text-align: right;
}

.basket:hover .basket-full {
  display: block;
}

.basket-full {
  display: none;
  width: 540px;
  padding: 20px 13px;
  position: absolute;
  top: 36px;
  right: 0px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
}

.basket-full-1 {
  text-align: left;
  border-spacing: 5px;
}

.basket-full td {
  padding-right: 10px;
}

.basket-full td:nth-child(4n) {
  width: 25%;
}

.basket-full td:nth-child(5n) {
  width: 15%
}

.basket-w {
  color: #999999;
}

.basket-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.basket-full .btn {
  margin-top: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: none;
  padding: 10px 10px;
}

.basket-full a {
  color: #ffffff;
  text-decoration: none;
}

.basket-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 59px;
  padding: 8px 12px;
  padding-left: 47px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.basket-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 18px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 20px;
  background-position: -197px -5px;
}

.basket-btn:hover, .basket-btn:hover::before {
  opacity: 1;
  color: #323232;
  background-position: -228px -5px;
}

.breadcrumbs {
  float: left;
  width: 850px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  margin-right: 3px;
}

.breadcrumbs a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.schedule {
  float: right;
  width: 170px;
  margin-top: 18px;
  text-align: right;
}

.schedule-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.schedule-phone {
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.content-title h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}

.filter legend {
  display: none;
}

.filter {
  width: 1146px;
  margin-bottom: 40px;
}

.sort {
  float: left;
  width: 193px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  /*outline: 1px solid yellow;*/
}

.filter-name {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: medium;
  /*outline: 1px solid blue;*/
}

select[name="sorting"] {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: medium;
    color: #ffffff;
}

select[name="sorting"]:hover {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.sort option {
  text-transform: lowercase;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.filter-price {
  float: left;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  /*outline: 1px solid yellow;*/
}

.range-controls {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  padding: 17px;
  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;
  background: rgba(248, 247,244, 0.5);
}

.range-controls .bar {
  position: absolute;
  top: 17px;
  left: 30px;
  width: 100px;
  height: 4px;
  background: rgba(248, 247,244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f8f7f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.toggle.min-toggle {
  left: 30px;
}
.toggle.max-toggle {
  left: 130px;
}

.range-controls .toggle:hover {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.filter-fat {
  float: left;
  width: 417px;
  padding: 0;
  margin-right: 0px;
  /*outline: 1px solid yellow;*/
}

.fat-style {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 0px;
  padding-left: 17px;
  border-radius: 20px;
  /*outline: 1px solid white;*/
}

.filter-fat-item {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.filter-fat-item input[type="checkbox"] {
  display: none;
}

.filter-fat-item input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 27px;

}
.filter-fat-item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  /*outline: 1px solid yellow;*/
}

.filter-fat-item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  /*outline: 1px solid red;*/
}


.filter-topping {
  float: left;
  width: 703px;
  padding: 0;
  margin-top: 15px;
  margin-right: 15px;
  /*outline: 1px solid yellow;*/
}

.topping-style {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 0px;
  padding-left: 20px;
  border-radius: 20px;
  /*outline: 1px solid white;*/
}

.filter-topping-item {
  padding-right: 22px;
  text-transform: lowercase;
}

.filter-topping input[type="checkbox"] {
  display: none;
}

.filter-topping input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.filter-topping input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: -5px;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.filter-topping input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: -5px;
  background: url("../img/checkbox.png");
  width: 20px;
  height: 20px;
  /*outline: 1px solid red;*/
}

.filter-topping-item {
  display: inline-block;
}

.filter-button {
  float: left;
  width: 145px;
  margin-right: 0px;
  margin-top: 36px;
}

.filter-btn {
  display: inline-block;
  padding: 8px 28px;
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /*outline: 1px solid yellow;*/
}

.filter-btn:hover {
  color: #323232;
  background: rgba(255, 255, 255, 1);
}

.filter-btn:active {
  padding: 12px 30px;
  color: #323232;
  background: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px #696969;
}

.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding-top: 270px;
  /*outline: 1px solid yellow;*/
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.slider-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-block {
  display: none;
}

#slider-input-1:checked ~ .site-wrapper #slide1,
#slider-input-2:checked ~ .site-wrapper #slide2,
#slider-input-3:checked ~ .site-wrapper #slide3 {
  display: block;
}


#slider-input-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-1.png");
}

#slider-input-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-2.png");
}

#slider-input-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-3.png");
}


#slider-input-1:checked ~ .site-wrapper label[for="slider-input-1"],
#slider-input-2:checked ~ .site-wrapper label[for="slider-input-2"],
#slider-input-3:checked ~ .site-wrapper label[for="slider-input-3"] {
  background-color: #ffffff;
}
/*---------------------------------*/

.promotion {
  margin-top: 35px;
  margin-bottom: 40px;
}

.promotion-left {
  position: relative;
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  background: #c80036 url("../img/bg-raspberry.jpg") repeat;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
  border-radius: 15px;
}

.promotion-left p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion-right {
  position: relative;
  float: right;
  width: 560px;
  min-height: 229px;
  background: #5d3923 url("../img/bg-chocolate.jpg") repeat;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
}

.promotion-right p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion .btn {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: none;
  padding: 10px 22px;
  bottom: 23px;
  right: 21px;
}

.promotion-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog {
  margin-bottom: 75px;
  font-size: 0;
}

.hits {
  font-size: 0;
}

.hits-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 0;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 30px;
  text-align: center;
  /*outline: 1px solid yellow;*/
}

.hits-item:hover::after, .hits-item:hover.hits-item .btn {
  display: block;
}

.hits-item::after {
  content: "";
  display: none;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 50;
  width: 289px;
  min-height: 410px;
  border-radius: 3px;
  box-shadow: 0 20px 20px 40% #000000;
}

.hits-item img {
  border-radius: 50%;
}

.hit::before {
  content: "";
  position: absolute;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -169px -35px;
  width: 61px;
  height: 61px;
  z-index: 10;
  top: 0;
  left: 0;
}

.hits-item p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  left: 0;
  top: 165px;
  text-shadow: 0 1px 3px 0 rgba(49, 50, 53, 0.5);
}

.hits-price {
  font-size: 30px;
  text-shadow: 0 1px 3px 0 rgba(49, 50, 53, 0.5);
}

.hits-item a {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #ffffff;
  padding: 0 12px;
  margin-bottom: 20px;
  z-index: 3;
}

.hits-item .btn {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: none;
  padding: 12px 10px;
}

.hits-item a:hover {
  text-decoration: none;
}

.hits-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 40px;
  width: 1106px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  min-height: 266px;
  background: #ede2c8 url("../img/Bg-vaffel.jpg") repeat;
  border-radius: 15px;
}

.features ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: medium;
}

.features li {
  position: relative;
  padding-top: 15px;
  padding-left: 55px;
  padding-right: 0;
  display: inline-block;
  vertical-align: top;
  color: #323232;
  float: left;
  width: 485px;
  margin-right: 25px;
  margin-bottom: 5px;
}

.features li:nth-child(2n) {
  margin-right: 0;
}

.features li::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: url("../img/spritesheet.png");
  top: 0px;
  left: 0px;
}

.features-item.ice::before {
  background-position: -63px -106px;
}

.features-item.leaf::before {
  background-position: -122px -106px;
}

.features-item.cow::before {
  background-position: -5px -106px;
}

.features-item.temp::before {
  background-position: -181px -106px;
}

.news-left {
  float: left;
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  background: #ffffff url("../img/bg-strawberry.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 22px;
  border-radius: 15px;
}

.news-left p {
  margin: 0;
  padding: 0;
  font-weight: medium;
  padding-right: 250px;
  padding-bottom: 5px;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.news-right {
  float: right;
  width: 560px;
  height: 220px;
  background: #f8f7f4 url("../img/bg-post.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding: 35px 26px;
  padding-bottom: 0px;
  border-radius: 15px;
}

.news-right p {
  margin: 0;
  padding-bottom: 33px;
}

.subscribe {
  display: inline-block;
  vertical-align: top;
  width: 510px;
  margin: 0;
  padding: 0;
}

.subscribe input[type="email"] {
  float: left;
  margin-top: 5px;
  width: 330px;
  padding: 8px 15px;
  margin-right: 7px;
}

.subscribe .btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 17px;
  float: left;
  margin-right: 0;
  box-shadow: none;
  text-shadow: none;
  border: 0;
}

.main-footer {
  margin-top: 40px;
}

.map {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}

.address {
  display: block;
  position: absolute;
  padding: 30px 22px;
  top: 60px;
  right: 26px;
  width: 255px;
  background: #ffffff;
  border-radius: 5px;
}

.address p {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
}

.address-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.address-bold2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.address .btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 25px;
  text-shadow: none;
}

.paginator {
  width: 250px;
  float: right;
  margin-bottom: 30px;
}

.paginator a {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  font-weight: medium;
  text-align: center;
  text-decoration: none;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
}

.paginator a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fdfefe;
}

.paginator a:active {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.paginator a.page-btn {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.paginator a.page-btn-prev {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5);
}

.paginator a.page-btn-next {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
}

.feedback {
  display: none;
}

.footer-social {
  float: left;
  width: 267px;
  margin-top: 15px;
  margin-right: 26px;
  /*outline: 1px solid yellow;*/
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 8px;
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url("../img/spritesheet.png") no-repeat;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  position: relative;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 0 1px #888888;
}

.social-btn-tw {
  background-position: -293px -157px;
}

.social-btn-inst {
  background-position: -240px -77px;
}

.social-btn-fb {
  background-position: -240px -35px;
}

.social-btn-vk {
  background-position: -239px -119px;
}

.footer-about {
  float: left;
  width: 360px;
  margin-right: 26px;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  /*outline: 1px solid yellow;*/
}

.about-simple {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  font-size: 0;
  padding-left: 20px;
  margin-right: 10px;
}

.heart::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/spritesheet.png") no-repeat;
  width: 15px;
  height: 13px;
  background-position: -259px -5px;
  top: 3px;
  left: 0;
}

.about-simple:nth-child(2n) {
  margin-right: 0;
}

.footer-about a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  /*outline: 1px solid red;*/
}

.footer-about a:first-child {
  font-weight: bold;
}

.footer-copyright {
  float: right;
  width: 189px;
  padding-left: 78px;
  /*outline: 1px solid yellow;*/
}

.footer-copyright img {
  display: inline-block;
  vertical-align: top;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 18px;
}

.footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 18px;
}
