body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial";
  background: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: medium;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.main-header {
  min-height: 115px;
}

.logo {
  float: left;
  width: 155px;
  height: 64px;
  margin-right: 10px;
  margin-top: 8px;
}

.main-navigation {
  float: left;
  width: 677px;
  margin-right: 20px;
  margin-top: 20px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 50px;
}

.main-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.main-navigation li:hover .active-menu {
  display: block;
}

.active {
  color: #ffffff;
  /*элемент блочный, цвет не работает */
  background-color: #d07058;
}

.active-menu a {
  border-radius: 0;
}

.active-menu {
  position: absolute;
  top: 38px;
  left: -5px;
  display: block;
  z-index: 2;
  list-style: none;
  width: 143px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  }

.active-menu li {
  display: block;
  padding: 0;
  margin: 0;
}

.active-menu a {
  display: block;
  padding-left: 20px;
  margin: 4px 0;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.active-menu a:hover {
  background-color: #fbded7;
}

.search {
  float: left;
  margin-left: 22px;
  margin-right: 10px;
  margin-top: 19px;

}

.search-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 33px;
  min-height: 33px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-btn::before {
  content: "";
  display: block;
  background: url("../img/spritesheet.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -5px -477px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-btn:hover::before, .search-btn:hover {
  opacity: 1;
  background-position: -5px -504px;
}

.search-form {
  display: none;
}

.user-block {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 60px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.login::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 19px;
  background-position: -5px -531px;
}

.login:hover, .login:hover::before {
  opacity: 1;
  color: #323232;
  background-position: -5px -560px;
}

.login-form {
  display: none;
}

.basket {
  float: left;
  width: 117px;
  margin-top: 20px;
  margin-right: 0;
  text-align: right;
}

.basket-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 8px 33px;
  padding-left: 43px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.basket-btn::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 21px;
  height: 20px;
  background-position: -5px -32px;
}

.basket-btn:hover, .basket-btn:hover::before {
  opacity: 1;
  color: #323232;
  background-position: -5px -62px;
}

.basket-full {
  display: none;
}

.breadcrumbs {
  float: left;
  width: 850px;
  margin-top: 25px;
  margin-right: 0px;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.breadcrumbs a {
  display: block;
  color: #ffffff;
}

.schedule {
  float: right;
  width: 170px;
  margin-top: 10px;
  text-align: right;
}

.schedule-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.schedule-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.filter {
  width: 1146px;
  margin-bottom: 40px;
}

fieldset {
  border: none;
}

.select {
  float: left;
  width: 193px;
  margin-right: 15px;
}

.filter-price {
  float: left;
  width: 220px;
  margin-right: 15px;
}

.filter-fat {
  float: left;
  width: 417px;
  margin-right: 0px;
}

.filter-fat-item {
  display: inline-block;
}

.filter-topping {
  float: left;
  width: 703px;
  margin-right: 15px;
}

.filter-topping-item {
  display: inline-block;
}

.filter-button {
  float: left;
  width: 145px;
  margin-right: 0px;
  margin-top: 40px;
}


/* Слайдер верстается без флоатов? */

.slider {}

.slider-box {}

.slider-controls {}

.slider-block2 {
  display: none;
}

.slider-block3 {
  display: none;
}


/*---------------------------------*/

.promotion {
  margin-bottom: 40px;
}

.promotion-left {
  position: relative;
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  background: #c80036 url("../img/bg-raspberry.jpg") repeat;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
}

.promotion-left p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion-right {
  position: relative;
  float: right;
  width: 560px;
  min-height: 229px;
  background: #5d3923 url("../img/bg-chocolate.jpg") repeat;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
}

.promotion-right p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion .btn {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.promotion-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 22px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: #ee6441;
  /*есть градиент!*/
}

.catalog {
  margin-bottom: 75px;
  font-size: 0;
}

.hits {
  font-size: 0;
}

.hits-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.hit::before {
  content: "";
  position: absolute;
  background: url("../img/hit.png") no-repeat;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
}

.hits-item p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  left: 0;
  top: 165px;
}

.hits-price {
  font-size: 30px;
}

.hits-item a {
  font-size: 16px;
  color: #ffffff;
}

.hits-btn {
  display: none;
}

.hits-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  margin-bottom: 40px;
  width: 1106px;
  padding: 20px;
  min-height: 266px;
  background: #ede2c8 url("../img/Bg-vaffel.jpg") repeat;
  outline: 1px solid red;
}

.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.features ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features li {
  position: relative;
  padding-top: 15px;
  padding-left: 55px;
  padding-right: 0;
  display: inline-block;
  vertical-align: top;
  color: #323232;
  float:left;
  width: 485px;
  margin-right: 26px;
  margin-bottom: 5px;
  outline: 1px solid red;
}

.features li:nth-child(2n) {
  margin-right: 0;
}

.features li::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: url("../img/spritesheet.png");
  top: 0px;
  left: 0px;
}

.features-item.ice::before {
  background-position: -5px -216px;
}

.features-item.leaf::before {
  background-position: -5px -317px;
}

.features-item.cow::before {
  background-position: -5px -92px;
}

.features-item.temp::before {
  background-position: -5px -376px;
}

.news-left {
  float: left;
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  background: #ffffff url("../img/bg-strawberry.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 22px;
}

.news-left p {
  margin: 0;
  padding: 0;
  font-weight: medium;
  padding-right: 250px;
  padding-bottom: 5px;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.news-right {
  float: right;
  width: 560px;
  height: 220px;
  background: #f8f7f4 url("../img/bg-post.jpg") repeat;
  color: #323232;
  box-sizing: border-box;
  padding: 35px 26px;
}

.news-right p {
  margin: 0;
  padding-bottom: 30px;
}

.main-footer {
  margin-top: 40px;
}

.map {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.address {
  display: none;
}

.page {
  width: 190px;
  float: right;
  margin-bottom: 30px;
}

.feedback {
  display: none;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
}

/*.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  font-size: 0;
}*/

.footer-about {
  float: left;
  width: 560px;
  margin-right: 26px;
}



.footer-copyright {
  float: left;
  width: 267px;
}
